OPENOBSERVE_HTTP_ENDPOINT=http://openobserve:5080
OPENOBSERVE_ORG=default
OPENOBSERVE_STREAM=actix_demo
OPENOBSERVE_USER=admin@example.com
OPENOBSERVE_PASS=Complexpass#123
SERVER_HOST=0.0.0.0
SERVER_PORT=8080
APP_ENVIRONMENT=development
RUST_LOG=info
OTEL_SERVICE_NAME=actix-openobserve
OTEL_SERVICE_VERSION=0.1.0
OTEL_ENVIRONMENT=development
OTEL_METRIC_EXPORT_INTERVAL=10
OTEL_TRACES_SAMPLER=always_on
OTEL_TRACES_SAMPLER_ARG=1.0
ENABLE_ERROR_STACK_TRACES=true
MAX_ERROR_CHAIN_DEPTH=10
